## **An√°lisis Exploratorio de Datos - Inicial**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Cargar los 4 conjunto de datos**

In [2]:
# Conjunto de datos del 2012 al 2020
df_2012_2020 = pd.read_csv('../data/raw/mex_trade_2012_2020.csv')
df_2012_2020.head(5)

,prod_est,coverage,type,year,month,concept,value_usd,status
0,Trade Balance of Goods of Mexico,National,Exports,2012,1,Total Exports,27281.577,Final Figures
1,Trade Balance of Goods of Mexico,National,Exports,2012,1,Petroleum,4628.295,Final Figures
2,Trade Balance of Goods of Mexico,National,Exports,2012,1,Crude Oil,4008.115,Final Figures
3,Trade Balance of Goods of Mexico,National,Exports,2012,1,Other Oil,620.180,Final Figures
4,Trade Balance of Goods of Mexico,National,Exports,2012,1,Non Petroleum,22653.282,Final Figures

In [3]:
# Conjunto de datos del 2021
df_2021 = pd.read_csv('../data/raw/mex_trade_2021.csv')
df_2021.head(5)

,prod_est,coverage,type,year,month,concept,value_usd,status
0,Trade Balance of Goods of Mexico,National,Exports,2021,1,Total Exports,32716.018,Adjusted Figures
1,Trade Balance of Goods of Mexico,National,Exports,2021,1,Petroleum,1824.723,Adjusted Figures
2,Trade Balance of Goods of Mexico,National,Exports,2021,1,Crude Oil,1589.219,Adjusted Figures
3,Trade Balance of Goods of Mexico,National,Exports,2021,1,Other Oil,235.505,Adjusted Figures
4,Trade Balance of Goods of Mexico,National,Exports,2021,1,Non Petroleum,30891.295,Adjusted Figures

In [4]:
# Conjunto de datos del 2022
df_2022 = pd.read_csv('../data/raw/mex_trade_2022.csv')
df_2022.head(5)

,prod_est,coverage,type,year,month,concept,value_usd,status
0,Trade Balance of Goods of Mexico,National,Exports,2022,1,Total Exports,33923.041,Final Figures
1,Trade Balance of Goods of Mexico,National,Exports,2022,1,Petroleum,2491.027,Final Figures
2,Trade Balance of Goods of Mexico,National,Exports,2022,1,Crude Oil,2022.813,Final Figures
3,Trade Balance of Goods of Mexico,National,Exports,2022,1,Other Oil,468.214,Final Figures
4,Trade Balance of Goods of Mexico,National,Exports,2022,1,Non Petroleum,31432.014,Final Figures

In [5]:
# Conjunto de datos del 2023
df_2023 = pd.read_csv('../data/raw/mex_trade_2023.csv')
df_2023.head(5)

,prod_est,coverage,type,year,month,concept,value_usd,status
0,Trade Balance of Goods of Mexico,National,Exports,2023,1,Total Exports,42609.734,Revised Figures
1,Trade Balance of Goods of Mexico,National,Exports,2023,1,Petroleum,2715.928,Revised Figures
2,Trade Balance of Goods of Mexico,National,Exports,2023,1,Crude Oil,2089.954,Revised Figures
3,Trade Balance of Goods of Mexico,National,Exports,2023,1,Other Oil,625.974,Revised Figures
4,Trade Balance of Goods of Mexico,National,Exports,2023,1,Non Petroleum,39893.806,Revised Figures

**Conocer la cantidad de filas y columnas de los 4 conjunto de datos**

In [6]:
dic_df = {
    'df_2012_2020': df_2012_2020,
    'df_2021': df_2021,
    'df_2022': df_2022,
    'df_2023':df_2023
}

for nombre_df,df in dic_df.items():
    filas,columnas = df.shape
    print(f'\nFilas y columnas de DatFrame {nombre_df}')
    print(f'Filas: {filas}\nColumnas: {columnas}')

Filas y columnas de DatFrame df_2012_2020
Filas: 1944
Columnas: 8

Filas y columnas de DatFrame df_2021
Filas: 216
Columnas: 8

Filas y columnas de DatFrame df_2022
Filas: 216
Columnas: 8

Filas y columnas de DatFrame df_2023
Filas: 180
Columnas: 8

**Descripci√≥n de cada conjunto de datos**

In [7]:
print('Conjunto de datos del 2012 - 2020\n')
df_2012_2020.info()

Conjunto de datos del 2012 - 2020

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prod_est   1944 non-null   object
 1   coverage   1944 non-null   object
 2   type       1944 non-null   object
 3   year       1944 non-null   int64
 4   month      1944 non-null   int64
 5   concept    1944 non-null   object
 6   value_usd  1944 non-null   float64
 7   status     1944 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 121.6+ KB

In [8]:
print('Conjunto de datos del 2021\n')
df_2021.info()

Conjunto de datos del 2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prod_est   216 non-null    object
 1   coverage   216 non-null    object
 2   type       216 non-null    object
 3   year       216 non-null    int64
 4   month      216 non-null    int64
 5   concept    216 non-null    object
 6   value_usd  216 non-null    float64
 7   status     216 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 13.6+ KB

In [9]:
print('Conjunto de datos del 2022\n')
df_2022.info()

Conjunto de datos del 2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prod_est   216 non-null    object
 1   coverage   216 non-null    object
 2   type       216 non-null    object
 3   year       216 non-null    int64
 4   month      216 non-null    int64
 5   concept    216 non-null    object
 6   value_usd  216 non-null    float64
 7   status     216 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 13.6+ KB

In [10]:
print('Conjunto de datos del 2023\n')
df_2023.info()

Conjunto de datos del 2023

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prod_est   180 non-null    object
 1   coverage   180 non-null    object
 2   type       180 non-null    object
 3   year       180 non-null    int64
 4   month      180 non-null    int64
 5   concept    180 non-null    object
 6   value_usd  180 non-null    float64
 7   status     180 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 11.4+ KB

Los 4 conjuntos de datos cuenta con las mismas columnas y los tipos de datos son correctos por lo que no sera necesario tranformalos.

***Datos Categ√≥ricos***
* prod_est: Nombre de la instituci√≥n responsable de la recopilaci√≥n de datos
* converge: √Årea geogr√°fica a la que se refieren los indicadores estad√≠sticos.
* type: Tipo de operaci√≥n comercial
* concept: Descripci√≥n de los principales agregados de la informaci√≥n.
* status: Estado de las cifras seg√∫n los lineamientos del INEGI.

***Datos Num√©ricos***
* year: a√±o
* month: mes num√©rico
* value_usd: Valor de venta en millones de d√≥lares estadounidenses, valorado en base FOB o CIF.

**Revisar los datos(entrada) de cada columna categ√≥rica**

In [11]:
lista_columnas = ['prod_est','coverage','type','concept','status']

def entradas(df,lista_columnas):
    for columna in lista_columnas:
        unicos = df[columna].value_counts()
        print(f'Valores unicos en columna{unicos}')
        print('-' * 30)

In [12]:
print('Conjunto de datos 2012 - 2020\n')
entradas(df_2012_2020,lista_columnas)

Conjunto de datos 2012 - 2020

Valores unicos en columnaprod_est
Trade Balance of Goods of Mexico    1944
Name: count, dtype: int64
------------------------------
Valores unicos en columnacoverage
National    1944
Name: count, dtype: int64
------------------------------
Valores unicos en columnatype
Exports           864
Imports           864
Not applicable    216
Name: count, dtype: int64
------------------------------
Valores unicos en columnaconcept
Petroleum                                                               216
Non Petroleum                                                           216
Crude Oil                                                               108
Total Exports                                                           108
Other Oil                                                               108
Agrarian                                                                108
Extractive                                                              108
Manufacturing                                                           108
Total Imports                                                           108
Freight and insurance of imports                                        108
Total Imports CIF (Total Imports + Freight and Insurance of Imports)    108
Consumer Goods                                                          108
Intermediate Goods                                                      108
Capital Goods                                                           108
Total Trade Balance Exports Total - Imports Total                       108
Total Trade Balance Exports Total - Imports Total CIF                   108
Name: count, dtype: int64
------------------------------
Valores unicos en columnastatus
Final Figures    1944
Name: count, dtype: int64
------------------------------

In [13]:
print('Conjunto de datos del 2021\n')
entradas(df_2021,lista_columnas)

Conjunto de datos del 2021

Valores unicos en columnaprod_est
Trade Balance of Goods of Mexico    216
Name: count, dtype: int64
------------------------------
Valores unicos en columnacoverage
National    216
Name: count, dtype: int64
------------------------------
Valores unicos en columnatype
Exports           96
Imports           96
Not applicable    24
Name: count, dtype: int64
------------------------------
Valores unicos en columnaconcept
Petroleum                                                               24
Non Petroleum                                                           24
Crude Oil                                                               12
Total Exports                                                           12
Other Oil                                                               12
Agrarian                                                                12
Extractive                                                              12
Manufacturing                                                           12
Total Imports                                                           12
Freight and insurance of imports                                        12
Total Imports CIF (Total Imports + Freight and Insurance of Imports)    12
Consumer Goods                                                          12
Intermediate Goods                                                      12
Capital Goods                                                           12
Total Trade Balance Exports Total - Imports Total                       12
Total Trade Balance Exports Total - Imports Total CIF                   12
Name: count, dtype: int64
------------------------------
Valores unicos en columnastatus
Adjusted Figures    216
Name: count, dtype: int64
------------------------------

In [14]:
print('Conjunto de datos 2022\n')
entradas(df_2022,lista_columnas)

Conjunto de datos 2022

Valores unicos en columnaprod_est
Trade Balance of Goods of Mexico    216
Name: count, dtype: int64
------------------------------
Valores unicos en columnacoverage
National    216
Name: count, dtype: int64
------------------------------
Valores unicos en columnatype
Exports           96
Imports           96
Not applicable    24
Name: count, dtype: int64
------------------------------
Valores unicos en columnaconcept
Petroleum                                                               24
Non Petroleum                                                           24
Crude Oil                                                               12
Total Exports                                                           12
Other Oil                                                               12
Agrarian                                                                12
Extractive                                                              12
Manufacturing                                                           12
Total Imports                                                           12
Freight and insurance of imports                                        12
Total Imports CIF (Total Imports + Freight and Insurance of Imports)    12
Consumer Goods                                                          12
Intermediate Goods                                                      12
Capital Goods                                                           12
Total Trade Balance Exports Total - Imports Total                       12
Total Trade Balance Exports Total - Imports Total CIF                   12
Name: count, dtype: int64
------------------------------
Valores unicos en columnastatus
Final Figures    216
Name: count, dtype: int64
------------------------------

In [15]:
print('Conjunto de datos 2023\n')
entradas(df_2023,lista_columnas)

Conjunto de datos 2023

Valores unicos en columnaprod_est
Trade Balance of Goods of Mexico    180
Name: count, dtype: int64
------------------------------
Valores unicos en columnacoverage
National    180
Name: count, dtype: int64
------------------------------
Valores unicos en columnatype
Exports           80
Imports           80
Not applicable    20
Name: count, dtype: int64
------------------------------
Valores unicos en columnaconcept
Petroleum                                                               20
Non Petroleum                                                           20
Crude Oil                                                               10
Total Exports                                                           10
Other Oil                                                               10
Agrarian                                                                10
Extractive                                                              10
Manufacturing                                                           10
Total Imports                                                           10
Freight and insurance of imports                                        10
Total Imports CIF (Total Imports + Freight and Insurance of Imports)    10
Consumer Goods                                                          10
Intermediate Goods                                                      10
Capital Goods                                                           10
Total Trade Balance Exports Total - Imports Total                       10
Total Trade Balance Exports Total - Imports Total CIF                   10
Name: count, dtype: int64
------------------------------
Valores unicos en columnastatus
Revised Figures    180
Name: count, dtype: int64
------------------------------

*No se encontraron errores de entrado en las columnas categ√≥ricas*

**Identificar valores nulos en los conjuntos de datos**

In [16]:
nulos_2012_2020 = df_2012_2020.isnull().sum()
print(f'Cantidad de valores nulos en conjunto de datos 2012 - 2020\n{nulos_2012_2020}')

Cantidad de valores nulos en conjunto de datos 2012 - 2020
prod_est     0
coverage     0
type         0
year         0
month        0
concept      0
value_usd    0
status       0
dtype: int64

In [17]:
nulos_2021 = df_2021.isnull().sum()
print(f'Cantidad de valores nulos en conjunto de datos 2021\n{nulos_2021}')

Cantidad de valores nulos en conjunto de datos 2021
prod_est     0
coverage     0
type         0
year         0
month        0
concept      0
value_usd    0
status       0
dtype: int64

In [18]:
nulos_2022 = df_2022.isnull().sum()
print(f'Cantidad de valores nulos en conjuntos de datos 2022\n{nulos_2022}')

Cantidad de valores nulos en conjuntos de datos 2022
prod_est     0
coverage     0
type         0
year         0
month        0
concept      0
value_usd    0
status       0
dtype: int64

In [19]:
nulos_2023 = df_2023.isnull().sum()
print(f'Cantidad de valores nulos en conjuntos de datos 2023\n{nulos_2023}')

Cantidad de valores nulos en conjuntos de datos 2023
prod_est     0
coverage     0
type         0
year         0
month        0
concept      0
value_usd    0
status       0
dtype: int64

No se encontraron valores nulos en ningun conjunto de datos

**Identificar valores duplicados**

In [20]:
duplicados_2012_2020 = df_2012_2020.duplicated().sum()
print(f'Cantidad de duplicados en conjunto de datos 2012 - 2020\n{duplicados_2012_2020}')

Cantidad de duplicados en conjunto de datos 2012 - 2020
0

In [21]:
duplicados_2021 = df_2021.duplicated().sum()
print(f'Cantidad de duplicados en conjunto de datos 2021\n{duplicados_2021}')

Cantidad de duplicados en conjunto de datos 2021
0

In [22]:
duplicados_2022 = df_2022.duplicated().sum()
print(f'Cantidad de duplicados en conjunto de datos 2022\n{duplicados_2022}')

Cantidad de duplicados en conjunto de datos 2022
0

In [23]:
duplicados_2023 = df_2023.duplicated().sum()
print(f'Cantidad de duplicados en conjunto de datos 2023\n{duplicados_2023}')

Cantidad de duplicados en conjunto de datos 2023
0

No se encontraron valores duplicados en los 4 conjuntos de datos

**Descripci√≥n de estad√≠sticas en los 4 conjuntos de datos**

**Conjunto de datos 2012-2020**

In [24]:
df_2012_2020.describe()

              year        month     value_usd
count  1944.000000  1944.000000   1944.000000
mean   2016.000000     6.500000  13175.481880
std       2.582653     3.452941  14852.946869
min    2012.000000     1.000000  -5658.528300
25%    2014.000000     3.750000    934.941400
50%    2016.000000     6.500000   3636.757500
75%    2018.000000     9.250000  29605.791500
max    2020.000000    12.000000  45479.523300

In [25]:
df_negativos_2012_2020 = df_2012_2020[df_2012_2020['value_usd'] < 0]

print(f"N√∫mero de registros con valores negativos: {len(df_negativos_2012_2020)}")
display(df_negativos_2012_2020.head(10))

N√∫mero de registros con valores negativos: 143

,prod_est,coverage,type,year,month,concept,value_usd,status
16,Trade Balance of Goods of Mexico,National,Not applicable,2012,1,Total Trade Balance Exports Total - Imports Total,-267.418000,Final Figures
17,Trade Balance of Goods of Mexico,National,Not applicable,2012,1,Total Trade Balance Exports Total - Imports To...,-1013.224000,Final Figures
35,Trade Balance of Goods of Mexico,National,Not applicable,2012,2,Total Trade Balance Exports Total - Imports To...,-267.776000,Final Figures
71,Trade Balance of Goods of Mexico,National,Not applicable,2012,4,Total Trade Balance Exports Total - Imports To...,-366.619000,Final Figures
89,Trade Balance of Goods of Mexico,National,Not applicable,2012,5,Total Trade Balance Exports Total - Imports To...,-532.382000,Final Figures
107,Trade Balance of Goods of Mexico,National,Not applicable,2012,6,Total Trade Balance Exports Total - Imports To...,-166.668000,Final Figures
124,Trade Balance of Goods of Mexico,National,Not applicable,2012,7,Total Trade Balance Exports Total - Imports Total,-409.644000,Final Figures
125,Trade Balance of Goods of Mexico,National,Not applicable,2012,7,Total Trade Balance Exports Total - Imports To...,-1224.047000,Final Figures
142,Trade Balance of Goods of Mexico,National,Not applicable,2012,8,Total Trade Balance Exports Total - Imports Total,-981.812999,Final Figures
143,Trade Balance of Goods of Mexico,National,Not applicable,2012,8,Total Trade Balance Exports Total - Imports To...,-1844.143000,Final Figures

**Conjunto de datos 2021**

In [26]:
df_2021.describe()

         year       month     value_usd
count   216.0  216.000000    216.000000
mean   2021.0    6.500000  16217.149996
std       0.0    3.460071  18608.117991
min    2021.0    1.000000  -5483.666500
25%    2021.0    3.750000   1460.198125
50%    2021.0    6.500000   3579.538500
75%    2021.0    9.250000  37028.073500
max    2021.0   12.000000  48663.371700

In [27]:
df_negativos_2021 = df_2021[df_2021['value_usd'] < 0]

print(f"N√∫mero de registros con valores negativos: {len(df_negativos_2021)}")
display(df_negativos_2021.head(10))

N√∫mero de registros con valores negativos: 17

,prod_est,coverage,type,year,month,concept,value_usd,status
16,Trade Balance of Goods of Mexico,National,Not applicable,2021,1,Total Trade Balance Exports Total - Imports Total,-1194.6840,Adjusted Figures
17,Trade Balance of Goods of Mexico,National,Not applicable,2021,1,Total Trade Balance Exports Total - Imports To...,-2263.9142,Adjusted Figures
52,Trade Balance of Goods of Mexico,National,Not applicable,2021,3,Total Trade Balance Exports Total - Imports Total,-2944.4740,Adjusted Figures
53,Trade Balance of Goods of Mexico,National,Not applicable,2021,3,Total Trade Balance Exports Total - Imports To...,-4624.2547,Adjusted Figures
89,Trade Balance of Goods of Mexico,National,Not applicable,2021,5,Total Trade Balance Exports Total - Imports To...,-917.1356,Adjusted Figures
107,Trade Balance of Goods of Mexico,National,Not applicable,2021,6,Total Trade Balance Exports Total - Imports To...,-637.5687,Adjusted Figures
124,Trade Balance of Goods of Mexico,National,Not applicable,2021,7,Total Trade Balance Exports Total - Imports Total,-3997.6720,Adjusted Figures
125,Trade Balance of Goods of Mexico,National,Not applicable,2021,7,Total Trade Balance Exports Total - Imports To...,-5483.6665,Adjusted Figures
142,Trade Balance of Goods of Mexico,National,Not applicable,2021,8,Total Trade Balance Exports Total - Imports Total,-3744.2590,Adjusted Figures
143,Trade Balance of Goods of Mexico,National,Not applicable,2021,8,Total Trade Balance Exports Total - Imports To...,-5211.7762,Adjusted Figures

**Conjunto de datos 2022**

In [28]:
df_2022.describe()

         year       month     value_usd
count   216.0  216.000000    216.000000
mean   2022.0    6.500000  19072.295325
std       0.0    3.460071  21980.220489
min    2022.0    1.000000  -8173.623500
25%    2022.0    3.750000   1663.104650
50%    2022.0    6.500000   4474.786000
75%    2022.0    9.250000  44131.670500
max    2022.0   12.000000  58230.565200

In [29]:
df_negativos_2022 = df_2022[df_2022['value_usd'] < 0]

print(f"N√∫mero de registros con valores negativos: {len(df_negativos_2022)}")
display(df_negativos_2022.head(10))

N√∫mero de registros con valores negativos: 21

,prod_est,coverage,type,year,month,concept,value_usd,status
16,Trade Balance of Goods of Mexico,National,Not applicable,2022,1,Total Trade Balance Exports Total - Imports Total,-6262.3240,Final Figures
17,Trade Balance of Goods of Mexico,National,Not applicable,2022,1,Total Trade Balance Exports Total - Imports To...,-7790.0323,Final Figures
35,Trade Balance of Goods of Mexico,National,Not applicable,2022,2,Total Trade Balance Exports Total - Imports To...,-264.9300,Final Figures
53,Trade Balance of Goods of Mexico,National,Not applicable,2022,3,Total Trade Balance Exports Total - Imports To...,-1708.8797,Final Figures
70,Trade Balance of Goods of Mexico,National,Not applicable,2022,4,Total Trade Balance Exports Total - Imports Total,-1783.0330,Final Figures
71,Trade Balance of Goods of Mexico,National,Not applicable,2022,4,Total Trade Balance Exports Total - Imports To...,-3538.1445,Final Figures
88,Trade Balance of Goods of Mexico,National,Not applicable,2022,5,Total Trade Balance Exports Total - Imports Total,-2255.6830,Final Figures
89,Trade Balance of Goods of Mexico,National,Not applicable,2022,5,Total Trade Balance Exports Total - Imports To...,-4108.2191,Final Figures
106,Trade Balance of Goods of Mexico,National,Not applicable,2022,6,Total Trade Balance Exports Total - Imports Total,-3971.1630,Final Figures
107,Trade Balance of Goods of Mexico,National,Not applicable,2022,6,Total Trade Balance Exports Total - Imports To...,-5969.1741,Final Figures

**Conjunto de datos 2023**

In [30]:
df_2023.describe()

         year       month     value_usd
count   180.0  180.000000    180.000000
mean   2023.0    5.500000  19414.613531
std       0.0    2.880293  22151.300573
min    2023.0    1.000000  -5961.665300
25%    2023.0    3.000000   1832.335050
50%    2023.0    5.500000   4784.326000
75%    2023.0    8.000000  45173.500000
max    2023.0   10.000000  55795.404100

In [31]:
df_negativos_2023 = df_2023[df_2023['value_usd'] < 0]

print(f"N√∫mero de registros con valores negativos: {len(df_negativos_2023)}")
display(df_negativos_2023.head(10))

N√∫mero de registros con valores negativos: 18

,prod_est,coverage,type,year,month,concept,value_usd,status
16,Trade Balance of Goods of Mexico,National,Not applicable,2023,1,Total Trade Balance Exports Total - Imports Total,-4106.0100,Revised Figures
17,Trade Balance of Goods of Mexico,National,Not applicable,2023,1,Total Trade Balance Exports Total - Imports To...,-5961.6653,Revised Figures
34,Trade Balance of Goods of Mexico,National,Not applicable,2023,2,Total Trade Balance Exports Total - Imports Total,-1888.6610,Revised Figures
35,Trade Balance of Goods of Mexico,National,Not applicable,2023,2,Total Trade Balance Exports Total - Imports To...,-3705.7172,Revised Figures
53,Trade Balance of Goods of Mexico,National,Not applicable,2023,3,Total Trade Balance Exports Total - Imports To...,-807.9327,Revised Figures
70,Trade Balance of Goods of Mexico,National,Not applicable,2023,4,Total Trade Balance Exports Total - Imports Total,-1508.5230,Revised Figures
71,Trade Balance of Goods of Mexico,National,Not applicable,2023,4,Total Trade Balance Exports Total - Imports To...,-3345.9510,Revised Figures
88,Trade Balance of Goods of Mexico,National,Not applicable,2023,5,Total Trade Balance Exports Total - Imports Total,-74.0850,Revised Figures
89,Trade Balance of Goods of Mexico,National,Not applicable,2023,5,Total Trade Balance Exports Total - Imports To...,-2076.8855,Revised Figures
107,Trade Balance of Goods of Mexico,National,Not applicable,2023,6,Total Trade Balance Exports Total - Imports To...,-1955.2417,Revised Figures