## **Balanza Comercial y Tendencias**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pd.options.display.float_format = '{:,.2f}'.format

---

**Cargar conjunto de datos**

In [2]:
df_2012_2023 = pd.read_csv('../data/processed/mex_trade_2012_2023_clean.csv')
df_2012_2023.head()

,prod_est,coverage,type,year,month,concept,value_usd,status
0,Trade Balance of Goods of Mexico,National,Exports,2012,1,Total Exports,27281.577,Final Figures
1,Trade Balance of Goods of Mexico,National,Exports,2012,1,Petroleum,4628.295,Final Figures
2,Trade Balance of Goods of Mexico,National,Exports,2012,1,Crude Oil,4008.115,Final Figures
3,Trade Balance of Goods of Mexico,National,Exports,2012,1,Other Oil,620.180,Final Figures
4,Trade Balance of Goods of Mexico,National,Exports,2012,1,Non Petroleum,22653.282,Final Figures

---

**Calcular la Balanza comercial anual**

In [8]:
balanza = pd.pivot_table(df_2012_2023, values='value_usd', index='year', columns='type', aggfunc='sum')
balanza

type      Exports      Imports  Not applicable
year
2012 1,112,309.67 1,502,457.46       -9,688.95
2013 1,140,045.15 1,544,351.16      -12,145.48
2014 1,190,740.90 1,623,145.84      -17,745.65
2015 1,141,668.26 1,601,116.96      -39,446.30
2016 1,121,860.84 1,569,246.66      -36,716.10
2017 1,228,297.72 1,705,150.95      -33,710.33
2018 1,352,138.18 1,882,275.57      -39,712.33
2019 1,381,811.63 1,844,718.77       -1,151.63
2020 1,251,512.20 1,552,528.28       58,077.33
2021 1,484,847.98 2,056,315.52      -38,259.10
2022 1,733,206.19 2,461,877.61      -75,468.01
2023 1,480,531.96 2,054,154.33      -40,055.85

In [12]:
balanza['Balance Comercial Anual'] = balanza['Exports'] - balanza['Imports']
balanza

type      Exports      Imports  Not applicable  Balance Comercial Anual
year
2012 1,112,309.67 1,502,457.46       -9,688.95              -390,147.79
2013 1,140,045.15 1,544,351.16      -12,145.48              -404,306.01
2014 1,190,740.90 1,623,145.84      -17,745.65              -432,404.94
2015 1,141,668.26 1,601,116.96      -39,446.30              -459,448.70
2016 1,121,860.84 1,569,246.66      -36,716.10              -447,385.82
2017 1,228,297.72 1,705,150.95      -33,710.33              -476,853.23
2018 1,352,138.18 1,882,275.57      -39,712.33              -530,137.39
2019 1,381,811.63 1,844,718.77       -1,151.63              -462,907.14
2020 1,251,512.20 1,552,528.28       58,077.33              -301,016.07
2021 1,484,847.98 2,056,315.52      -38,259.10              -571,467.53
2022 1,733,206.19 2,461,877.61      -75,468.01              -728,671.42
2023 1,480,531.96 2,054,154.33      -40,055.85              -573,622.36